* {
  margin: 0;
  padding: 0;
}

.topNav {
  width: 80vw;
  height: 10vh;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 0px 5px 5px #ebebeb;
          box-shadow: 0px 0px 5px 5px #ebebeb;
  border-radius: 20px;
  margin-top: 2vh;
  -webkit-transition: -webkit-box-shadow 0.8s linear;
  transition: -webkit-box-shadow 0.8s linear;
  transition: box-shadow 0.8s linear;
  transition: box-shadow 0.8s linear, -webkit-box-shadow 0.8s linear;
}

.topNav:hover {
  width: 80vw;
  height: 10vh;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 20px;
  margin-top: 2vh;
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
  -webkit-box-shadow: 0px 0px 10px 10px #ebebeb;
          box-shadow: 0px 0px 10px 10px #ebebeb;
}

.title {
  text-align: center;
}

.title h1 {
  color: #fff;
  font-size: 9vh;
  font-family: "ubuntu";
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffa3ab), color-stop(50%, #7bffe9), color-stop(60%, #ffa3ab));
  background: linear-gradient(to right, #ffa3ab 10%, #7bffe9 50%, #ffa3ab 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 3.5s linear infinite;
          animation: textclip 3.5s linear infinite;
  display: inline-block;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.mainContentArea {
  width: 80vw;
  height: auto;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 0px 5px 5px #ebebeb;
          box-shadow: 0px 0px 5px 5px #ebebeb;
  border-radius: 20px;
  margin-top: 2vh;
  -webkit-transition: -webkit-box-shadow 0.8s linear;
  transition: -webkit-box-shadow 0.8s linear;
  transition: box-shadow 0.8s linear;
  transition: box-shadow 0.8s linear, -webkit-box-shadow 0.8s linear;
}

.mainContentArea .contentHolder {
  max-width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50vh;
}

.mainContentArea .contentHolder h1 {
  color: #7c795d;
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

.mainContentArea .contentHolder h2 {
  color: #7c795d;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 24px;
}

.mainContentArea .contentHolder p {
  color: #4c4a37;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px;
}

.mainContentArea .contentHolder a {
  color: #ff9900;
  background: #fff4a3;
  text-decoration: none;
}

.mainContentArea .contentHolder a:hover {
  background-color: #ff9900;
  color: white;
}

.mainContentArea .contentHolder img {
  max-width: 100%;
}

.mainContentArea .contentHolder code {
  background-color: #dddddd;
  border-radius: 5%;
  min-width: 100%;
}

#TextArea {
  padding: 8px;
  height: 50vh;
  color: #999;
  font-weight: 400;
  font-size: 30px;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  line-height: 2em;
  border: none;
  padding: 30px;
  -webkit-transition: height 2s ease;
  transition: height 2s ease;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased !important;
}

#btn {
  background: #2cbdd6;
  height: 50px;
  min-width: 150px;
  border: none;
  color: #eee;
  font-size: 40px;
  font-family: "Cookie", cursive;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding-top: 5px;
  margin-top: 1vh;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: #2cd657;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#btn:hover {
  background: #2cd657;
}

#btn:hover #circle {
  height: 50px;
  width: 150px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}

@media (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
  }
  .topNav {
    width: 96vw;
    height: 5vh;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-shadow: 0px 0px 5px 5px #ebebeb;
            box-shadow: 0px 0px 5px 5px #ebebeb;
    border-radius: 20px;
    margin-top: 2vh;
    -webkit-transition: -webkit-box-shadow 0.8s linear;
    transition: -webkit-box-shadow 0.8s linear;
    transition: box-shadow 0.8s linear;
    transition: box-shadow 0.8s linear, -webkit-box-shadow 0.8s linear;
  }
  .topNav:hover {
    width: 96vw;
    height: 4vh;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 20px;
    margin-top: 2vh;
    -webkit-transition: -webkit-box-shadow 0.2s linear;
    transition: -webkit-box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
    -webkit-box-shadow: 0px 0px 10px 10px #ebebeb;
            box-shadow: 0px 0px 10px 10px #ebebeb;
  }
  .title {
    text-align: center;
  }
  .title h1 {
    color: #fff;
    font-size: 3.8vh;
    font-family: "ubuntu";
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffa3ab), color-stop(50%, #7bffe9), color-stop(60%, #ffa3ab));
    background: linear-gradient(to right, #ffa3ab 10%, #7bffe9 50%, #ffa3ab 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: textclip 3.5s linear infinite;
            animation: textclip 3.5s linear infinite;
    display: inline-block;
  }
  @-webkit-keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  .mainContentArea {
    width: 96vw;
    height: auto;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-shadow: 0px 0px 5px 5px #ebebeb;
            box-shadow: 0px 0px 5px 5px #ebebeb;
    border-radius: 20px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    -webkit-transition: -webkit-box-shadow 0.8s linear;
    transition: -webkit-box-shadow 0.8s linear;
    transition: box-shadow 0.8s linear;
    transition: box-shadow 0.8s linear, -webkit-box-shadow 0.8s linear;
  }
  .mainContentArea .contentHolder {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .mainContentArea .contentHolder h1 {
    color: #7c795d;
    font-family: "Trocchi", serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
  }
  .mainContentArea .contentHolder h2 {
    color: #7c795d;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 24px;
  }
  .mainContentArea .contentHolder p {
    color: #4c4a37;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 24px;
  }
  .mainContentArea .contentHolder a {
    color: #ff9900;
    background: #fff4a3;
    text-decoration: none;
  }
  .mainContentArea .contentHolder a:hover {
    background-color: #ff9900;
    color: white;
  }
  .mainContentArea .contentHolder img {
    max-width: 100%;
  }
  .mainContentArea .contentHolder code {
    background-color: #dddddd;
    border-radius: 5%;
    min-width: 100%;
  }
  .mainContentArea .contentHolder #TeaxtArea {
    height: 50vh;
    max-width: 600px;
    color: #999;
    font-weight: 400;
    font-size: 30px;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    line-height: 2em;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 30px;
    -webkit-transition: height 2s ease;
    transition: height 2s ease;
  }
  .mainContentArea .contentHolder * {
    -webkit-font-smoothing: antialiased !important;
  }
}
/*# sourceMappingURL=create.css.map */